
<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="img-bg-bottom img-bg-soft tint-bg" style="background-image: url(https://farm9.staticflickr.com/8451/8050815886_98ea5b411f_b.jpg);">
  <div class="container inner">
    <div class="row">
      <div class="col-sm-10">
        <header>
          <h1>Development<br/>Leaderboard</h1>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->


<!-- ============================================================= SECTION – TEAM ============================================================= -->

<section id="team" class="light-bg">
	<div class="container inner-top inner-bottom-sm">

		<div class="row">
			<div class="col-md-8 col-sm-10 center-block text-center">
				<header>
					<h1>IBM Bluemix Top Developers</h1>
					<p>How good is your code? Can you rise to the top of the leaderboard? <a href="/development/challenges">Start competing today!</a></p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->

		<div class="row inner-top-sm text-center">

			{{#each leaders}}

			{{#if this.[0]}}
				<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
					<figure class="member">
						<div class="icon-overlay icn-link">
							<a href="http://www.topcoder.com/member-profile/{{this.[0].handle}}"><img src="{{this.[0].pic}}" class="img-circle"></a>
						</div><!-- /.icon-overlay -->
						<figcaption>
							<h2>{{this.[0].handle}}<span>{{this.[0].score}}pts</span></h2>
						</figcaption>
					</figure>
				</div><!-- /.col -->
			{{/if}}

			{{#if this.[1]}}
				<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
					<figure class="member">
						<div class="icon-overlay icn-link">
							<a href="http://www.topcoder.com/member-profile/{{this.[1].handle}}"><img src="{{this.[1].pic}}" class="img-circle"></a>
						</div><!-- /.icon-overlay -->
						<figcaption>
							<h2>{{this.[1].handle}}<span>{{this.[1].score}}pts</span></h2>
						</figcaption>
					</figure>
				</div><!-- /.col -->
			{{/if}}

			{{#if this.[2]}}
				<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
					<figure class="member">
						<div class="icon-overlay icn-link">
							<a href="http://www.topcoder.com/member-profile/{{this.[2].handle}}"><img src="{{this.[2].pic}}" class="img-circle"></a>
						</div><!-- /.icon-overlay -->
						<figcaption>
							<h2>{{this.[2].handle}}<span>{{this.[2].score}}pts</span></h2>
						</figcaption>
					</figure>
				</div><!-- /.col -->
			{{/if}}

			{{/each}}

		</div><!-- /.row -->

	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – TEAM : END ============================================================= -->



<!-- ============================================================= SECTION – GET STARTED ============================================================= -->

<section id="get-started" class="tint-bg">
  <div class="container inner-sm" style="padding-top:20px;padding-bottom:20px">
    <div class="row">
      <div class="col-sm-11 center-block text-center">
        <h1 class="single-block">Not a topcoder member? <a href="https://www.topcoder.com/?action=showlogin&next={{registerReturnUrl}}" class="btn btn-large">Sign Up Now</a></h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – GET STARTED : END ============================================================= -->

{{> bluemix_signup}}
